.icon-user .icon-header-noti::after{
    display: none;
}
@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}
.swal-text{
    font-family: Poppins-Regular, sans-serif;

}
.left-top-bar{
    margin: auto;
    font-family: Poppins, serif;

}
.rs1-select2 .select2-container .select2-selection--single .select2-selection__rendered{
    font-family: Poppins-Regular, sans-serif;
}